{% extends '@Extranet/layout.html.twig' %}

{% block body %}
    <div class="card">
        <h3 class="card-header">Applications</h3>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item"><a href="{{ path('leasing_new') }}">Simulateur leasing vélo</a></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"><a href="{{ path('patrimoine_home') }}">Patrimoine</a></li>
                <li class="list-group-item"><a href="{{ path('taxe_index') }}">Taxes</a></li>
                <li class="list-group-item"><a href="{{ path('enquete_publique_home') }}">Enquêtes publiques</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
