<ul class="nav nav-pills">
    <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Home</a></li>
    <li class="nav-item"><a href="{{ path('taxe_new') }}" class="nav-link">New taxe</a></li>
    <li class="nav-item"><a href="{{ path('nomenclature_index') }}" class="nav-link">Nomen</a></li>
    <li class="nav-item"><a href="{{ path('taxe_index') }}" class="nav-link">Taxe</a></li>
    <li class="nav-item"><a href="{{ path('taxe_user') }}" class="nav-link">User</a></li>
</ul>
